
.memberhome{
    left: 50%;
    margin-left: -125px;
    top: 30%;
    position: absolute;
    font-family: Century Gothic;
    color: rgba(19,25,67,0.957);
    filter: drop-shadow(0px 3px 6px rgba(19, 25, 67, 0.302));
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

}

@media screen and (min-width: 376px){
    .memberhome{
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: -175px;
        font-size: 25px;
    }
}

.search{
    position: fixed;
    top: 20%;
    right: 10%;
    font-size: 25px;
    border-radius: 10px;
    border-color: rgba(19,25,67,0.957) !important;
    /*z-index: 1;*/
    width: 300px;
    height: 28px;
    font-family: Century Gothic;
    border-width: 1px!important;

    /*border-color: rgba(19,25,67,0.957) !important;*/
    /*&#129488; &#128272; (unicode lock en smiley*/
}

@media screen and (min-width: 376px){
    .search{
        position: fixed;
        width: 400px;
        height: 40px;
        top: 15%;
        left: 50%;
        margin-left: -203px;
        font-size: 25px;
        border-radius: 10px;
        border-color: rgba(19,25,67,0.957) !important;
    }
}

.movie {
    background-image: url("../images/popcorn1.jpg");
    background-position: center;
    background-size: cover;
    /*background-repeat: repeat;*/
    background-attachment: fixed;
    height:400vh;
    /*background-color: ;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

.moviecard {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: 15px;
    width: 150px;

}

.moviecardH1 {
    /*background-color: ;*/
    display: flex;
    flex-direction: column;
/*    align-items: center;
    justify-content: center;*/
    font-size: calc(15px );
    font-family: Century Gothic;
    color: rgba(19,25,67,0.957);
    width: 150px;
}

.moviecard1{
    background-color: rgba(197,219,217,1);
    /*opacity: 0.8;*/
    border-radius: 15px;
    width: 70%;
    padding: 10px;

}

.buttonmoviecard{
    position: absolute;
    left: 65%;
    margin-top: 15%;
    transform: rotate(-45deg);
    padding: 5px;
    border : solid rgba(19,25,67,0.957);
    border-width: 0 3px 3px 0;
    background-color: transparent;
    font-family: Century Gothic;
    font-size: medium;
    font-weight: inherit;
}

.buttonhome{
    position: fixed;
    left: 8%;
    margin-top: 8.7%;
    transform: rotate(135deg);
    padding: 7px;
    border : solid white;
    border-width: 0 3px 3px 0;
    background-color: transparent;
    font-family: Century Gothic;
    font-size: medium;
    font-weight: inherit;
}

/* Dropdown Button */
.dropbtn {
    position: fixed;
    right:10%;
    transform: rotate(45deg);
    padding: 8px;
    border : solid white;
    border-width: 0 3px 3px 0;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
     color: rgba(197,219,217,1);
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
    /*position: relative;*/
    display: inline-block;
    position: fixed;
    left: 8%;
    margin-top: 7.5%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: fixed;
    left:75%;
    margin-top:3%;
    color: white;
    display: none;
    background-color: transparent;
    min-width: 120px;
    z-index: 1;
    font-family: "Century Gothic";
    font-weight: bold;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

