
.backgroundhome {
    background-image: url("../images/popcorn1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}


.memberhome{
    left: 50%;
    margin-left: -125px;
    top: 30%;
    position: absolute;
    font-family: Century Gothic;
    color: rgba(19,25,67,0.957);
    filter: drop-shadow(0px 3px 6px rgba(19, 25, 67, 0.302));
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

}

@media screen and (min-width: 376px){
    .memberhome{
        position: absolute;
        top: 30%;
        left: 50%;
        margin-left: -175px;
        font-size: 25px;
    }
}

.search{
    left: 6.5%;
    margin-left: -5px;
    top: 13%;
    position: absolute;
    width: 300px;
    height: 28px;
    font-family: Century Gothic;
    font-size: 20px;
    border-radius: 10px;
    border-color: rgba(19,25,67,0.957) !important;
    border-width: 1px!important;

    /*border-color: rgba(19,25,67,0.957) !important;*/
    /*&#129488; &#128272; (unicode lock en smiley*/
}

@media screen and (min-width: 376px){
    .search{
        position: fixed;
        width: 400px;
        height: 40px;
        top: 15%;
        left: 50%;
        margin-left: -203px;
        font-size: 25px;
        border-radius: 10px;
        border-color: rgba(19,25,67,0.957) !important;
    }
}

