.grid-container{
    background-image: url("../images/vintage2.jpg");
    background-position: center;
    background-size: cover;
    /*position: fixed;*/
    width: 0;
    height: 100vh;
    top: 0%;
    left: -35%;
    left: 0%;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    /*    gap: 10px;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 200px auto 40px;
        grid-template-areas:
                "leeg leeg leeg"
                "leeg shape leeg"
                "leeg leeg leeg";*/
}

.shape{
    overflow: visible;
    position: absolute;
#grid-item{
    grid-area: shape;
}

.shape-green{
    /*overflow: visible;
    position: absolute;*/
    width: 375px;
    height: 550px;
    left: 0px;
    top: 222.333px;
    /* left: 0px;
     top: 222.333px;*/
    transform: matrix(1,0,0,1,0,0);
    background-color: rgba(197,219,217,1);
    margin-bottom: 30px;
    float: left;
    margin-right: 20px;
    /*    margin-bottom: 30px;
        float: left;*/
    /*    margin-right: 20px;*/
    border-radius: 30px;
    opacity: 0.8;
}

.titeltekst{
    text-align: center;
    filter: drop-shadow(0px 3px 6px rgba(19, 25, 67, 0.259));
    left: 30px;
    top: 40px;
    position: absolute;
    overflow: visible;
    width: 250px;
    white-space: nowrap;
    font-family: Bodoni MT;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(19,25,67,0.957);
    text-decoration: underline;
    text-decoration-color: rgba(19,25,67,0.957);
}

.welcome{
    filter: drop-shadow(0px 3px 6px rgba(19, 25, 67, 0.4));
    left: 110px;
    top: 200px;
    position: absolute;
    overflow: visible;
    width: 165px;
    white-space: nowrap;
    /*text-align: center;*/
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(19,25,67,0.957);
    text-transform: uppercase;
}

.letsmake{
    filter: drop-shadow(0px 3px 6px rgba(19, 25, 67, 0.302));
    left: 100px;
    top: 350px;
    position: absolute;
    overflow: visible;
    width: 185px;
    white-space: nowrap;
    text-align: center;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(19,25,67,0.957);
}


.button{
    left: 175px;
    top: 450px;
    position: absolute;
    border : solid rgba(19,25,67,0.957);
    background-color: rgba(197,219,217,1);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    transform: rotate(-45deg);
}

.button:hover{

}


