
.background {
    background-image: url("../images/vintage2.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.greenscreen{
    position: fixed;
    width: 375px;
    height: 550px;
    margin-top: 220px;
    background-color: rgba(197,219,217,1);
    border-radius: 30px;
    opacity: 0.8;
}

@media screen and (min-width:376px) {
    .greenscreen{
        position: fixed;
        width: 550px;
        height: 800px;
        top: 50%;
        left: 50%;
        margin-top: -400px;
        margin-left: -275px;
    }
}

.titeltekst{
    left: 30px;
    top: 40px;
    position: absolute;
    font-family: Bodoni MT;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(19,25,67,0.957);
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: rgba(19,25,67,0.957);
    filter: drop-shadow(0px 3px 6px rgba(19, 25, 67, 0.259));
}

    @media screen and (min-width: 376px){
        .titeltekst{
            position: absolute;
            top: 8%;
            left: 9%;
            font-size: 75px;
        }
    }

.welcome{
    left: 110px;
    top: 200px;
    position: absolute;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    color: rgba(19,25,67,0.957);
    /*text-transform: uppercase;*/
    filter: drop-shadow(0px 3px 6px rgba(19, 25, 67, 0.4));
}

@media screen and (min-width: 376px){
    .welcome{
        position: absolute;
        top: 35%;
        left: 30%;
        font-size: 45px;
    }
}



.letsmake{

    left: 100px;
    top: 350px;
    position: absolute;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(19,25,67,0.957);
    filter: drop-shadow(0px 3px 6px rgba(19, 25, 67, 0.302));
}

@media screen and (min-width: 376px){
    .letsmake{
        position: absolute;
        top: 70%;
        left: 27%;
        font-size: 24px;
    }
}

.button{
    left: 175px;
    top: 450px;
    position: absolute;
    border : solid rgba(19,25,67,0.957);
    background-color: rgba(197,219,217,1);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
    transform: rotate(-45deg);
}

@media screen and (min-width: 376px){
    .button{
        position: absolute;
        top: 85%;
        left: 48%;
        font-size: 15px;
    }
}

