/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color: rgba(197,219,217,1);
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
    /*position: relative;*/
    display: inline-block;
    position: fixed;
    left: 8%;
    margin-top: 7.5%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: fixed;
    left:75%;
    margin-top:3%;
    color: white;
    display: none;
    background-color: transparent;
    min-width: 120px;
    z-index: 1;
    font-family: "Century Gothic";
    font-weight: bold;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}